<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Booking Website" parallel="tests" thread-count="1" preserve-order="true">
    <parameter name="browserName" value="edge"/>
    <suite-files>
        <suite-file path="sprint1.xml"/>
    </suite-files>
</suite>